<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.loonatheapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OliviaHye"></activity>
        <activity android:name=".Gowon" />
        <activity android:name=".Chuu" />
        <activity android:name=".Yves" />
        <activity android:name=".Choerry" />
        <activity android:name=".Jinsoul" />
        <activity android:name=".KimLip" />
        <activity android:name=".Vivi" />
        <activity android:name=".Yeojin" />
        <activity android:name=".Haseul" />
        <activity android:name=".Hyunjin" />
        <activity android:name=".Profile" />
        <activity android:name=".Heejin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>